<a href="https://colab.research.google.com/github/parisa-ahmadi/PythonBasics/blob/main/lambda%2Cgenerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lista=[(1,2),(8,4),(5,9),(5,11)]
lista.sort(key=lambda x:x[0])
print(lista)

[(1, 2), (5, 9), (5, 11), (8, 4)]

In [2]:
lista=[(1,2),(8,4),(5,9),(5,11)]
lista.sort(key=lambda x:x[1])
print(lista)

[(1, 2), (8, 4), (5, 9), (5, 11)]

In [3]:
listb=[2,4,6,11,33,54,5]
map(lambda x:x**3,listb)

In [4]:
print(list(map(lambda x:x**3,listb)))

[8, 64, 216, 1331, 35937, 157464, 125]

In [6]:
listc=[6,5,3,22,33,5,6,8,9,70]
print(list(map(lambda x:"big" if x>10 else "small" , listc)))

['small', 'small', 'small', 'big', 'big', 'small', 'small', 'small', 'small', 'big']

In [8]:
listc=[6,5,3,22,33,5,6,8,9,70]
list(map(lambda x:"big" if x>10 else "small" , listc))

['small',
 'small',
 'small',
 'big',
 'big',
 'small',
 'small',
 'small',
 'small',
 'big']

In [9]:
import pandas as pd

In [14]:
c=pd.DataFrame(listc)
print(c)

    0
0   6
1   5
2   3
3  22
4  33
5   5
6   6
7   8
8   9
9  70

In [15]:
c=pd.DataFrame(listc)
c

    0
0   6
1   5
2   3
3  22
4  33
5   5
6   6
7   8
8   9
9  70

In [17]:
list(filter(lambda x:x%2==0,listc))

[6, 22, 6, 8, 70]

In [18]:
list(filter(lambda x:x%2==1 ,listc))

[5, 3, 33, 5, 9]

In [19]:
 #generator data ra darjaye khodesh taqirat midahad masalan dar yek database(ye noe tabe)
 #toye ye anbar moratab kon hamoon moratab shode ra biar
 def first(n):
   num=0
   while (num<n):
     yield num
     #mese return kar mikonad
     num+=1
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [25]:
def numbers (num):
  for i in num:
    yield (i*i)
my_nums=numbers([1,3,4,5,2,7])
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))

1
9
16
25
4
49