<a href="https://colab.research.google.com/github/parisa-ahmadi/PythonBasics/blob/main/Pandas%20and%20numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
list1=[1,3,4,5,67,7]
labels=[1,2,3,4,5,6]
ser_1=pd.Series(data=list1,index=labels)
print(ser_1)

1     1
2     3
3     4
4     5
5    67
6     7
dtype: int64

In [3]:
ser_1+ser_1

1      2
2      6
3      8
4     10
5    134
6     14
dtype: int64

In [4]:
ser_1*ser_1

1       1
2       9
3      16
4      25
5    4489
6      49
dtype: int64

In [5]:
arr_1=np.array([1,2,3,4,5,6])
ser_2=pd.Series(arr_1)
print(ser_2)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
ser_1* ser_2

0      NaN
1      2.0
2      9.0
3     16.0
4     25.0
5    402.0
6      NaN
dtype: float64

In [7]:
ser_2/ser_2

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64

In [8]:
ser_2-ser_2

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [9]:
arr_2=np.random.randint(10,50, size=(2,3))
df_1=pd.DataFrame(arr_2,["A","B"],['C','D','E'])
df_1

    C   D   E
A  44  36  38
B  35  10  14

In [12]:
dict_1={"A":["Day1","Day2","Day3","Day4"],
        "B":["man","to","oo","3"],
        "C":[1,2,4.0,9],
        "D":["fff","eeee","bib","lolo"]}
df_1=pd.DataFrame(dict_1)
df_1

      A    B    C     D
0  Day1  man  1.0   fff
1  Day2   to  2.0  eeee
2  Day3   oo  4.0   bib
3  Day4    3  9.0  lolo