<a href="https://colab.research.google.com/github/parisa-ahmadi/Pandaslibrary/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [6]:
pip install camelcase

Collecting camelcase
  Downloading camelcase-0.2.tar.gz (1.3 kB)
Building wheels for collected packages: camelcase
  Building wheel for camelcase (setup.py) ... done
  Created wheel for camelcase: filename=camelcase-0.2-py3-none-any.whl size=1789 sha256=d10fec614070a79694d275c935639b687fcbf2d34405d27eb837b5b7c4a0510f
  Stored in directory: /root/.cache/pip/wheels/5c/15/30/92459bdd828bf363082955935e49d5b3f83f8e32af8aad7e34
Successfully built camelcase
Installing collected packages: camelcase
Successfully installed camelcase-0.2

In [1]:
pip --version

pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)

In [2]:
pip install pip

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)

In [ ]:
pip install pandas

In [1]:
import pandas

In [1]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas as pd

print(pd.__version__)

1.1.5

In [3]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
print(myvar[0])

1

In [5]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["pari", "amir", "reza"])

print(myvar)

pari    1
amir    7
reza    2
dtype: int64

In [7]:
import pandas as pd
a =[20 , 18,17.5]

mynum= pd.Series(a, index=['reza','pari','amir'])
print(mynum)

reza    20.0
pari    18.0
amir    17.5
dtype: float64

In [8]:
import pandas as pd
a =[20 , 18,17.5]

mynum= pd.DataFrame(a, index=['reza','pari','amir'])
print(mynum)

         0
reza  20.0
pari  18.0
amir  17.5

In [10]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2",'day3'])

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [13]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar=pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45